#jumbo {
  text-align: center;
  padding: 40px;
  background: url(background.jpg) no-repeat;
  background-size: cover;
}

@media (min-width: 1200px) {
  #jumbo {
    border: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.75);
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
}

